xml-resources/jaxb/station/station.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="station">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="available"/>
        <xs:element type="xs:byte" name="free"/>
        <xs:element type="xs:byte" name="total"/>
        <xs:element type="xs:byte" name="ticket"/>
        <xs:element type="xs:byte" name="open"/>
        <xs:element type="xs:int" name="updated"/>
        <xs:element type="xs:byte" name="connected"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>